


/* START:New tech
 ********************************************************************************* */
.grid_job {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding: 0;
  background-color: white;
  max-width: 100%;
  list-style: none;
  text-align: center;
  column-count: 3;
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-gap: 0;
  -webkit-column-gap: 0;
  -moz-column-gap: 0; }

@media screen and (max-width: 1200px) and (min-width: 741px) {
  .grid_job {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2; } }

@media screen and (max-width: 740px) {
  .grid_job {
    -webkit-column-count: 1;
    /* Chrome, Safari, Opera */
    -moz-column-count: 1;
    /* Firefox */
    column-count: 1; } }
/* Common style */
.grid_job figure {
  position: relative;
  /*float: left;*/
  overflow: hidden;
  margin: 0;
  min-width: 310px;
  max-width: 840px;
  max-height: 460px;
  width: 100%;
  height: 380px;
  background: #3085a3;
  text-align: center;
  cursor: pointer; }

@media screen and (max-width: 960px) and (min-width: 721px) {
  .grid_job figure {
    height: 360px; } }

@media screen and (max-width: 720px) {
  .grid_job figure {
    height: 320px; } }

@media screen and (min-width: 1600px) {
  .grid_job figure {
    height: 430px; } }

.grid_job figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8; }

.grid_job figure figcaption h2 span::before {
  white-space: pre; }

.grid_job figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.main-sections__listing__latest .grid_job figure figcaption, .listing__featured .grid_job figure figcaption {
  -webkit-box-shadow: inset 10px -10px 48px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px -10px 48px -18px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px -10px 48px -18px rgba(0, 0, 0, 0.75); }

.grid_job figure figcaption::before, .grid_job figure figcaption::after {
  pointer-events: none; }

.grid_job figure figcaption, .grid_job figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid_job figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.grid_job figure h2 {
  word-spacing: -0.15em;
  font-weight: 400;
  font-size: 28px; }

.grid_job figure h2 span {
  font-weight: 300;
  display: block;
  font-size: 18px;
  word-spacing: -0.05em; }

.grid_job figure h2, .grid_job figure p {
  margin: 0; }

.grid_job figure p {
  letter-spacing: 1px;
  font-size: 68.5%; }
/* Individual effects */
/*---------------*/
/***** Milo *****/
/*---------------*/
@media screen and (min-width: 960px) {
  figure.effect-milo {
    background: #2e5d5a; }
    figure.effect-milo:nth-child(1) {
      background-color: #33647d; }
    figure.effect-milo:nth-child(2) {
      background-color: #294817; }
    figure.effect-milo:nth-child(3) {
      background-color: #792040; }
    figure.effect-milo:nth-child(6) {
      background-color: #714f43; }
    figure.effect-milo:nth-child(5) {
      background-color: #3c763d; } }

figure.effect-milo img {
  max-width: none;
  width: -webkit-calc(100% + 60px);
  width: calc(100% + 60px);
  opacity: 0.85;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-30px, 0, 0) scale(1.12);
  transform: translate3d(-30px, 0, 0) scale(1.12);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

figure.effect-milo:hover img {
  opacity: 0.48;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1); }

figure.effect-milo h2 {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em 1.2em; }

figure.effect-milo p {
  padding: 0 10px 0 0;
  width: 60%;
  border-right: 1px solid #fff;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0); }

figure.effect-milo:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
/* Media queries */
@media screen and (max-width: 50em) {
  /*.grid_job figure {
   display: inline-block;
   margin:0;
   width: 100%;
   }*/ }

.profile__featured .view-all {
  background: none;
  padding: 60px 0 60px 0; }

.view-all .view-all__btn {
  font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
  text-transform: uppercase;
  border: 1px solid rgba(66, 81, 97, 0.1);
  border-radius: 6px;
  color: #666; }
  @media screen and (min-width: 600px) {
    .view-all .view-all__btn {
      width: 410px;
      height: 60px;
      font-size: 30px;
      line-height: 60px; } }

@keyframes loading-animation {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(360deg); } }

@-webkit-keyframes loading-animation {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

.posts-list {
  margin-bottom: 70px; }
  .posts-list .listing-item__logo .media-object {
    max-width: 125px;
    max-height: 125px; }

.static-pages__blog .social-share {
  display: block; }

.listing-item__blog .listing-item__title a {
  display: block; }

.blog__content--image {
  margin: 15px 0; }

.blog__content--date {
  position: relative;
  margin: 0 25px 10px 0;
  font-weight: 500; }

.blog__content--date:before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 17px;
  position: relative;
  top: 2px;
  background: url("../images/icon-calendar.svg") no-repeat;
  background-size: contain;
  margin-right: 2px; }

.blog__back {
  color: #000;
  border: 1px solid #ccc;
  margin: 20px 20px 0 0; }
  @media all and (min-width: 767px) {
  .blog__back {
    float: left; } }
  .blog__back:before {
    background: url("../images/icon-chevron-left-gray.svg") no-repeat left;
    opacity: 1; }
  .blog__back:hover {
    color: rgba(0, 0, 0, 0.5); }

@keyframes loading-animation {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(360deg); } }

@-webkit-keyframes loading-animation {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

.checkout-container {
  max-width: 700px;
  margin: 0 auto; }
  .checkout-container .sidebar {
    margin-bottom: 40px; }

.checkout {
  padding: 0 15px 70px;
  width: 100%; }
  @media all and (min-width: 992px) {
  .checkout {
    padding-right: 64px; } }
  @media all and (min-width: 767px) {
  .checkout {
    width: calc(100% - 306px); } }
  .checkout-sidebar__title {
    font-size: 16px; }
  .checkout-message {
    padding: 45px 30px 65px;
    color: rgba(0, 0, 0, 0.4);
    background: #fff;
    border-radius: 6px;
    margin: 60px auto 80px;
    max-width: 510px; }
  .checkout-message .form-group:last-child {
    margin-bottom: 0; }
  .checkout-product__title {
    max-width: 75%;
    display: inline-block; }
  .checkout-product__price {
    max-width: 25%;
    display: inline-block; }
  .checkout-product__name {
    border-bottom: 1px solid rgba(216, 216, 216, 0.7);
    padding-bottom: 15px; }
  .checkout-sidebar__delete-discount {
    background: url('../images/icon-delete.svg') no-repeat 0 0;
    background-size: 16px 17px;
    display: inline-block;
    width: 16px;
    height: 17px;
    position: relative;
    top: 4px; }

.payment-proceed--preloader {
  position: relative;
  height: 150px; }
  .payment-proceed--preloader:after {
    content: "";
    position: absolute;
    z-index: 10;
    -moz-animation: loading-animation 0.9s linear infinite;
    -webkit-animation: loading-animation 0.9s linear infinite;
    -o-animation: loading-animation 0.9s linear infinite;
    -ms-animation: loading-animation 0.9s linear infinite;
    animation: loading-animation 0.9s linear infinite;
    background: url("../images/preloader.svg") no-repeat center;
    top: 50%;
    left: 50%;
    margin-top: -28px;
    margin-left: -16px;
    width: 32px;
    height: 32px; }

@keyframes loading-animation {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(360deg); } }

@-webkit-keyframes loading-animation {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

.product-items-wrapper {
  max-width: 938px;
  margin: 0 auto 70px; }
  @media all and (max-width: 992px) and (min-width: 680px) {
  .product-items-wrapper {
    max-width: 612px; } }
  @media all and (max-width: 680px) {
  .product-items-wrapper {
    width: 100%;
    text-align: center; } }

.product-item {
  background: #ebeef3;
  height: 360px;
  margin-right: 40px;
  margin-bottom: 40px;
  width: 286px;
  float: left;
  padding-bottom: 125px;
  position: relative;
  text-align: initial;
  transition: 0.2s;
  -webkit-box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  -o-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
 }
  @media all and (min-width: 992px) {
  .product-item:nth-child(3n) {
    margin-right: 0; } }
  @media all and (max-width: 992px) and (min-width: 680px) {
  .product-item:nth-child(2n) {
    margin-right: 0; } }
  @media all and (max-width: 680px) {
  .product-item {
    margin: 0 auto 40px;
    float: none; } }
  .product-item:hover {
    -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.3);
    background: #eef0f3; }
  .product-item:hover .product-item__description {
    color: rgba(0, 0, 0, 0.5); }
  .product-item__content {
    height: 215px;
    overflow: hidden; }
  .product-item__title, .product-item__price {
    font-weight: bold;
    margin-bottom: 19px;
    text-align: center; }
  .product-item__title {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 16px; }
  .product-item__price {
    color: #de2020;
    background: url('../images/dashed.png') repeat-x 0 0;
    padding-top: 19px;
    font-size: 20px; }
  .product-item__description {
    color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    font-size: 15px !important;
    line-height: 17px !important; }
  .product-item__description h1, .product-item__description h2, .product-item__description h3, .product-item__description p, .product-item__description li, .product-item__description span {
    font-size: 15px !important;
    line-height: 17px !important;
    transition: 0.2s; }
  .product-item .form {
    position: absolute;
    bottom: 19px;
    left: 0;
    margin-top: 30px; }
  .product-item .form .form-group {
    margin-bottom: 15px; }
  .product-item .form .form-group:last-child {
    margin-bottom: 0; }

@keyframes loading-animation {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(360deg); } }

@-webkit-keyframes loading-animation {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

