#fold {
	@extend .flex-section;

	background-color:rgba(255,255,255,0.8);
}




#foldbackground{
	margin: 20px auto 0;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 0px;
	z-index: 300;
	
}
